:root {
  --fs-primary: 1.8rem;
  --color-dark-cyan: hsl(185, 75%, 39%);
  --color-dark-des-blue: hsl(229, 23%, 23%);
  --color-dark-gray-blue: hsl(227, 10%, 46%);
  --color-gray: hsl(0, 0%, 59%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Kumbh Sans', sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  min-width: 375px;
  background-color: var(--color-dark-cyan);
}

/* MAIN */
main{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  min-width: 288px;
  max-width: 330px;
  height: 372px;
  /* margin: 150px auto; */
  border-radius: 15px;
  background-color: white;
}

.card__top {
  position: relative;
  width: 100%;
  height: 130px;
  border-radius: 15px 15px 0 0;
  background-image: url(../images/bg-pattern-card.svg);
  background-position-x: center;
}

img {
  position: absolute;
  /* display: inline-block; */
  bottom: -52.5px;
  left: calc(50% - 52.5px);
  width: 105px;
  height: 105px;
  border: 5px solid white;
  border-radius: 100%;
  /* image-rendering: optimizeQuality; */
}

.profile {
  position: absolute;
  top: calc(60% - 34px);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 68px;
  text-align: center;
  /* padding: 52.5px 0; */
}

/* .profile .profile-title {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3px;
} */

.profile h2 {
  font-size: var(--fs-primary);
  font-weight: bold;
  padding: 5px;
  color: var(--color-dark-des-blue);
}

.profile h2 span {
  display: inline-block;
  padding: 5px;
  font-size: var(--fs-primary);
  color: var(--color-dark-gray-blue);
}

.profile p {
  display: block;
  width: 100%;
  font-size: calc(var(--fs-primary) - 0.4rem);
  color: var(--color-dark-gray-blue);
  padding: 7px;
}

.stats {
  /* position: relative;
  bottom: 10px; */
  height: auto;
  display: flex;
  justify-content: space-evenly;
  padding: 16px;
  border-top: 1px solid hsl(0deg 0% 91%);
}

.stats__followers,
.stats__likes,
.stats__photos {
  text-align: center;
  padding: 10px;
}

.num {
  font-size: var(--fs-primary);
  font-weight: bold;
  color: var(--color-dark-des-blue);
}

.title {
  color: var(--color-dark-gray-blue);
  padding-top: 5px;
  letter-spacing: 1.5px;
}

/* FOOTER */

footer {
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  height: 50px;
  text-align: center;
  font-size: var(--fs-primary);
}

footer p {
  display: inline;
}

footer a {
  color: hsl(228, 45%, 44%);
}
